**/Gemfile.lock
**/.yardoc
**/doc
**/docs
**/coverage
**/pkg
**/*.gem
**/.bundle
**/.DS_Store
**/.byebug_history


# Appraisals
**/*/gemfiles

# Vendored gems
**/vendor/**/*

# IDE Settings
/.idea/

# rbenv configuration
.ruby-version

tags
