**/Gemfile.lock
**/.yardoc
**/doc
**/docs
**/coverage
**/pkg
**/*.gem
**/.bundle
**/.DS_Store
**/.byebug_history
**/tmp/**/*
**/target/**/*
**/*.bundle
**/*.so


# Appraisals
instrumentation/**/gemfiles

# Sqlite file for tests
instrumentation/active_record/db

# Vendored gems
**/vendor/**/*

# IDE Settings
/.idea/

# rbenv configuration
.ruby-version

tags
