version: "3.5"

x-shared-config:
  base: &base
    command: /bin/bash
    image: opentelemetry/opentelemetry-ruby
    stdin_open: true
    tmpfs:
      - /tmp
    tty: true
    user: "1000:1000"
    volumes:
      - .:/app:cached
      - bundle:/bundle

services:
  api:
    <<: *base
    working_dir: /app/api

  app:
    <<: *base
    build:
      context: .
    working_dir: /app

  ex-adapter-concurrent-ruby:
    <<: *base
    working_dir: /app/adapters/concurrent_ruby/example

  ex-adapter-ethon:
    <<: *base
    working_dir: /app/adapters/ethon/example

  ex-adapter-excon:
    <<: *base
    working_dir: /app/adapters/excon/example

  ex-adapter-faraday:
    <<: *base
    working_dir: /app/adapters/faraday/example

  ex-adapter-net-http:
    <<: *base
    working_dir: /app/adapters/net_http/example

  ex-adapter-rack:
    <<: *base
    working_dir: /app/adapters/rack/example

  ex-adapter-redis:
    <<: *base
    environment:
      - REDIS_URL=redis://redis:6379
    depends_on:
      - redis
    working_dir: /app/adapters/redis/example

  ex-adapter-restclient:
    <<: *base
    working_dir: /app/adapters/restclient/example

  ex-adapter-sidekiq:
    <<: *base
    working_dir: /app/adapters/sidekiq/example

  ex-adapter-sinatra:
    <<: *base
    command: ./start_server.sh
    working_dir: /app/adapters/sinatra/example

  ex-http:
    <<: *base
    command: ./start_server.sh
    working_dir: /app/examples/http

  redis:
    image: redis:5.0-alpine
    volumes:
      - redis_data:/data

  sdk:
    <<: *base
    working_dir: /app/sdk

volumes:
  bundle:
  redis_data:
