# frozen_string_literal: true

# Copyright The OpenTelemetry Authors
#
# SPDX-License-Identifier: Apache-2.0

module OpenTelemetry
  module SemanticConventions
    # @deprecated This module is deprecated in favor of the namespaced modules under
    #   {OpenTelemetry::SemanticCandidates} (all experimental and stable) and
    #   {OpenTelemetry::SemanticConventions} (stable)
    module {{module}}
      {%- for attribute in attributes | unique(attribute="fqn") %}
      {%- set root_namespace = attribute.fqn.split('.')[0] %}
      # {{ attribute.brief | to_doc_brief | regex_replace(pattern="\n", replace="\n      #  ") }}
      {%- if attribute.note %}
      # @note {{ attribute.note | to_doc_brief | regex_replace(pattern="\n", replace="\n      #  ") }}
      {%- endif %}
      #
      # @deprecated The \{OpenTelemetry::SemanticConventions::{{module}}\} module is deprecated.
      #   See {OpenTelemetry::SemanticCandidates::{{ root_namespace | to_const_name}}::{{attribute.fqn | to_const_name}}} for its replacement.
      {{ attribute.fqn | to_const_name }} = '{{ attribute.fqn }}'
{# blank line #}
      {%- endfor %}
    end
  end
end
