name: Markdown Link Check

on:
  pull_request:
    paths:
      - '**/*.md'

permissions:
  contents: read

jobs:
  markdown-link-check:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    permissions:
      pull-requests: write # required for posting review comments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # equivalent cli: linkspector check
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@652f85bc57bb1e7d4327260decc10aa68f7694c3 # v1.4.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_on_error: true
