name: CI

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  test:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    strategy:
      matrix:
        include:
          - name: Ruby 2.5
            container: circleci/ruby:2.5-buster
            flags: --include-simple --include-appraisal
          - name: Ruby 2.6
            container: circleci/ruby:2.6-buster
            flags: --include-simple --include-appraisal
          - name: Ruby 2.7
            container: circleci/ruby:2.7-buster
            flags: --include-simple --include-appraisal --check-rubocop --check-yard
          - name: JRuby
            container: circleci/jruby:latest
            flags: --include-simple --exclude opentelemetry-resource_detectors
      fail-fast: false
    name: Test ${{ matrix.name }} (${{ matrix.flags }})
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    env:
      JRUBY_OPTS: --debug
    services:
      sql:
        image: mysql:5.6
        env:
          TEST_MYSQL_USER: root
          TEST_MYSQL_ROOT_PASSWORD: root
          TEST_MYSQ_DB: mysql
          MYSQL_DATABASE: mysql
          MYSQL_ROOT_PASSWORD: root
          MYSQL_PASSWORD: mysql
          MYSQL_USER: mysql
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3
    steps:
      - name: Setup file system permissions
        run: sudo chmod -R 777 $GITHUB_WORKSPACE /github /__w/_temp
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install tools
        run: gem install --no-document bundler:2.1.4 toys:0.11.2
      - name: Run tests
        env:
          TEST_MYSQL_HOST: sql
          TEST_MYSQL_PORT: ${{ job.services.mysql.ports['3306'] }}
        run: toys ci ${{ matrix.flags }}
