name: Open release request - Weekly

on:
  schedule:
    - cron: "0 15 * * 2"

permissions:
  contents: read

jobs:
  release-request:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    permissions:
      contents: write # required for pushing changes
      pull-requests: write # required for creating release PRs
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby
        uses: ruby/setup-ruby@675dd7ba1b06c8786a1480d89c384f5620a42647 # v1.281.0
        env:
          BUNDLE_GEMFILE: ${{ github.workspace }}/.toys/release/Gemfile
        with:
          ruby-version: "4.0"
          bundler-cache: true
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Create otelbot app token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.OTELBOT_RUBY_APP_ID }}
          private-key: ${{ secrets.OTELBOT_RUBY_PRIVATE_KEY }}
      - name: Open release pull request
        env:
          # Use an app token instead of GITHUB_TOKEN to trigger workflows
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          toys release request --yes --verbose \
            "--target-branch=${{ github.ref }}" \
            < /dev/null
