name: "[release hook] Process release"

on:
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  release-process-request:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    permissions:
      contents: write # required for creating releases
      pull-requests: write # required for updating label on PR, posting comments
      issues: write # required for creating new issues on failed releases
    env:
      ruby_version: "4.0"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@b90be12699fdfcbee4440c2bba85f6f460446bb0 # v1.279.0
        with:
          ruby-version: ${{ env.ruby_version }}
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Install Toys
        run: "gem install --no-document toys -v 0.19.1"
      - name: Process release request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GEM_HOST_API_KEY: ${{ secrets.RUBYGEMS_API_KEY }}
        run: |
          toys release _onclosed --verbose \
            "--event-path=${{ github.event_path }}" \
            < /dev/null
