name: "[release hook] Process release"

on:
  pull_request:
    types: [closed]

jobs:
  release-process-request:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    env:
      ruby_version: "3.0"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1.165.1
        with:
          ruby-version: ${{ env.ruby_version }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"
      - name: Process release request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release _onclosed --verbose \
            "--enable-releases=${{ secrets.ENABLE_RELEASES }}" \
            "--event-path=${{ github.event_path }}" \
            "--rubygems-api-key=${{ secrets.RUBYGEMS_API_KEY }}" \
            < /dev/null
