name: Open release request

on:
  workflow_dispatch:
    inputs:
      gems:
        description: Gems to release (leave blank to release all gems)
        required: false
        default: ""

jobs:
  release-request:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    env:
      ruby_version: "3.0"
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby ${{ env.ruby_version }}
        uses: ruby/setup-ruby@v1.165.1
        with:
          ruby-version: ${{ env.ruby_version }}
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"
      - name: Open release pull request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release request --yes --verbose \
            "--gems=${{ github.event.inputs.gems }}" \
            "--release-ref=${{ github.ref }}" \
            < /dev/null
