name: Force release

on:
  workflow_dispatch:
    inputs:
      gem:
        description: Gem to release
        required: true
      version:
        description: Version to release
        required: true
      flags:
        description: Extra flags to pass to the release script
        required: false
        default: ""

permissions:
  contents: read

jobs:
  release-perform:
    if: ${{ github.repository == 'open-telemetry/opentelemetry-ruby' }}
    permissions:
      contents: write # required for creating releases
    runs-on: ubuntu-latest
    steps:
      - name: Install Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c # v1.287.0
        with:
          ruby-version: 3.1
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Toys
        run: "gem install --no-document toys -v 0.15.5"
      - name: Perform release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          toys release perform --yes --verbose \
            "--enable-releases=${{ secrets.ENABLE_RELEASES }}" \
            "--release-sha=${{ github.sha }}" \
            "--rubygems-api-key=${{ secrets.RUBYGEMS_API_KEY }}" \
            ${{ github.event.inputs.flags }} \
            "${{ github.event.inputs.gem }}" "${{ github.event.inputs.version }}" \
            < /dev/null
